@import url('https://fonts.googleapis.com/css?family=Anton|Kanit|Mansalva|Montserrat|Varela+Round|Yeseva+One&display=swap');

#sideNav {
    background: #E1BBC9;
    height: 100vh;
    text-align: center;
    padding-top: 0.3em;
}

ul {
    list-style: none;
    color: #6B2737;
    padding-left: 0;
    text-align: center;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

#sideNav h1 {
    font-size: 1.6em;
    color: #564946;
    font-family: 'Yeseva One', cursive;
}

#sideNav h2 {
    color: #846A6A;
    font-size: 1.2em;
    padding-top: 0.3em;
    font-family: 'Varela Round', sans-serif;
}

#sideNav h3 {
    color: #846A6A;
    font-size: 1.2em;
    padding-bottom: 0.3em;
    font-family: 'Varela Round', sans-serif;
}

.resume-head {
    padding-top: 2em;
    padding-bottom: 2em;
}

.resume-head h1 {
    font-family: 'Yeseva One', cursive;
    color: #564946;
    font-size: 3em;
}

.resume-head h3 {
    color: #846A6A;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.2em;
}

#mainContent {
    padding-left: 22em;
    padding-bottom: 3em;
}

#mainContent h2 {
    color: #6B2737;
    font-family: 'Montserrat', sans-serif;
}

#profilepic {
    border-radius: 50%;
    padding-top: 2em;
}
